<footer class="footer">
    <div class="footer__content">
        <div class="footer__logo">
            <img src="{{ url_for('static', path='/images/logo_withouttext.svg') }}" alt="DataSquare Logo"
                class="footer__logo-image">
            <div class="footer__logo-text">
                <span class="footer__logo-brand">DataSquare</span>
                <!-- <br>
                <span class="footer__logo-company">for {{ company_name }}</span> -->
            </div>
        </div>
        <!-- <div class="footer__copyright">
            company_name @ current_year. All rights reserved.
        </div> -->
    </div>
</footer>