<header class="header">
    <div class="header__content">
        <a href="{{ url_for('feed') }}">
            <div class="header__logo">
                <img src="{{ url_for('static', path='/images/logo_withouttext.svg') }}" alt="DataSquare Logo"
                    class="header__logo-image">
                <div class="header__logo-text">
                    <span class="header__logo-brand">DataSquare</span>
                    <br>
                    <span class="header__logo-company">for {{ company_name }}</span>
                </div>
            </div>
        </a>
        <nav class="header__nav">
            <a href="{{ url_for('data_request') }}" class="header__nav-item">Data Request</a>
            <a href="{{ url_for('databases') }}" class="header__nav-item">Databases</a>
        </nav>
        <div class="header__user-actions">
            <div id="header__notification-button" class="header__notification-container">
                <img src="{{ url_for('static', path='/images/bell-icon.svg') }}" alt="Notifications"
                    class="header__notification-icon">
                <span class="header__notification-badge" style="display: none;">0</span>
            </div>
            <div id="header__notification-popup" class="header__notification-popup">
                <div class="header__notification-header">
                    <h3 class="header__notification-title">Notifications</h3>
                    <img src="{{ url_for('static', path='/images/trash-icon.svg') }}" alt="Delete All"
                        class="header__notification-delete-all">
                </div>
                <ul class="header__notification-list"></ul>
                <div class="header__notification-footer">
                    <a href="/notifications" class="header__notification-show-all">Show All</a>
                </div>
            </div>
            <img src="{{ url_for('static', path='/images/settings-icon.svg') }}" alt="Settings"
                class="header__settings-icon">
            <a href="/profile">
                <img src="{{ url_for('static', path='/images/user-icon.svg') }}" alt="User Profile"
                    class="header__user-icon">
            </a>
            <a class="header__logout-button">
                <img src="{{ url_for('static', path='images/logout-icon.svg') }}" alt="Logout"
                    class="header__logout-icon">
            </a>
        </div>
</header>