<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DataSquare{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for(request, 'static', path='/css/main.css') }}">
</head>

<body>
    {% include 'pages/header.html' %}

    <main role="main">
        {% block content %}{% endblock %}
    </main>

    {% include 'pages/footer.html' %}

    <script src="{{ url_for(request, 'static', path='/js/main.js') }}"></script>
    <script src="{{ url_for(request, 'static', path='/js/notifications.js') }}"></script>
</body>

</html>