<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DataSquare{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
    {% block extra_css %}{% endblock %}
</head>

<body class="layout">
    {% include 'pages/header.html' %}

    <main class="layout__main">
        {% block content %}{% endblock %}
    </main>

    {% include 'pages/footer.html' %}

    <script src="{{ url_for('static', path='/js/main.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>