{% extends "base.html" %}

{% block title %}Issue feed - DataSquare{% endblock %}

{% block content %}
<div class="feed">
    <div class="feed__left-column">
        <input type="text" id="feed__search-input" class="feed__search-input" placeholder="Search..">
        <button onclick="search()" class="feed__search-button">Search</button>
        <div id="feed__recent-searches" class="feed__recent-searches">
            <ul class="feed__recent-searches-list">
                <!-- 최근 검색어 목록 -->
            </ul>
        </div>
        <div class="feed__teams">
            <ul class="feed__teams-list">
                {% for team in teams %}
                <li class="feed__team-item">
                    <a href="/feed/search?keyword=&team={{ team.team_name }}" class="feed__team-link">{{ team.team_name
                        }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="feed__right-column">
        <div class="feed__controls">
            <button onclick="filterMyIssues()" class="feed__control-button">My Issues</button>
            <button onclick="sortIssues('newest')" class="feed__control-button">Newest</button>
            <button onclick="sortIssues('oldest')" class="feed__control-button">Oldest</button>
        </div>
        <div class="feed__issues">
            {% for issue in issues %}
            <div class="feed__issue-card">
                <img src="data:image;base64,{{ issue.profile_pic | safe }}" alt="Profile Picture"
                    class="feed__issue-profile-pic">
                <h3 class="feed__issue-title">{{ issue.title }}</h3>
                <p class="feed__issue-content">{{ issue.content }}</p>
                <p class="feed__issue-author">{{ issue.author_name }}</p>
                <p class="feed__issue-team">{{ issue.team }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/feed.js') }}"></script>
{% endblock %}