<header>
    <div class="logo">
        <img src="{{ url_for(request, 'static', path='/images/logo_withouttext.svg') }}" alt="DataSquare Logo"
            class="logo-icon">

        <div class="logo-text">
            <span class="brand">DataSquare</span>
            <span class="tagline">for {{ company_name }}</span>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="{{ url_for(request, 'data_request') }}">Data Request</a></li>
            <li><a href="{{ url_for(request, 'databases') }}">Databases</a></li>
        </ul>
    </nav>
    <div class="user-actions">
        <div class="notifications-container" id="notificationButton">
            <img src="{{ url_for(request, 'static', path='/images/bell-icon.svg') }}" alt="Notifications">
            <span class="badge">9</span>
        </div>
        <img src="{{ url_for(request, 'static', path='/images/settings-icon.svg') }}" alt="Settings">
        <img src="{{ url_for(request, 'static', path='/images/user-icon.svg') }}" alt="User Profile">
        <img src="{{ url_for(request, 'static', path='/images/logout-icon.svg') }}" alt="Logout">
    </div>
</header>