@import 'layouts.css';
@import 'header.css';
@import 'footer.css';
@import 'notifications.css';
@import 'components.css';
/* @import 'admin_settings.css';
@import 'db_info.css';
@import 'error.css'; */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
}