.team-profile-view {
    margin: 0 var(--spacing-xl, 80px) var(--spacing-xxl, 237px) var(--spacing-xl, 80px);
    align-self: flex-start;
}

.team-profile-view__title {
    font-weight: 700;
    font-size: var(--font-size-xxl, 42px);
    line-height: 1.1;
    color: var(--cool-gray-90, #21272A);
    margin-bottom: var(--spacing-lg, 24px);
}

.team-profile-view__content {
    display: flex;
}

.team-profile-view__image {
    border: 1px solid var(--cool-gray-20, #DDE1E6);
    background-color: var(--default-white, #FFFFFF);
    margin-right: var(--spacing-lg, 24px);
    padding: var(--spacing-sm, 10.5px);
    width: 152px;
    height: 152px;
    box-sizing: border-box;
}

.team-profile-view__image-container {
    background-color: var(--cool-gray-10, #F2F4F8);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.team-profile-view__image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-profile-view__details {
    border: 1px solid var(--cool-gray-20, #DDE1E6);
    background-color: var(--default-white, #FFFFFF);
    padding: var(--spacing-lg, 24px) 0 var(--spacing-lg, 27px) var(--spacing-md, 15px);
    width: 700px;
}

.team-profile-view__name {
    font-weight: 700;
    font-size: var(--font-size-lg, 18px);
    line-height: 1.1;
    color: var(--cool-gray-90, #21272A);
    margin: 0 0 var(--spacing-lg, 20px) 0;
}

.team-profile-view__members {
    margin-top: var(--spacing-lg, 20px);
}

.team-profile-view__members-title {
    font-weight: 700;
    font-size: var(--font-size-md, 15px);
    line-height: 1.1;
    color: var(--cool-gray-90, #21272A);
    margin: 0 0 var(--spacing-md, 15px) 0;
}

.team-profile-view__member {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-sm, 10px);
}

.team-profile-view__member-avatar {
    background-color: var(--cool-gray-10, #F2F4F8);
    border-radius: 100px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: var(--spacing-md, 16px);
    overflow: hidden;
}

.team-profile-view__member-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-profile-view__member-name {
    font-weight: 500;
    font-size: var(--font-size-sm, 14px);
    line-height: 1.1;
    color: var(--cool-gray-90, #21272A);
}