{% extends "admin_base.html" %} {% set hide_header = false %} {% set hide_footer
= false %} {% block title %}Team Management - DataSquare{% endblock %} {% block
content %}
<div class="databases">
  <h1 class="databases__title">Databases</h1>
  <div class="databases__insert-data">
    <form class="data-request__form" action="/admin/org/" method="get">
      <button type="submit" class="btn btn--cancel">Data Insert</button>
    </form>
  </div>
  <div class="databases__controls">
    <div class="databases__filters">
      <button class="databases__filter-btn databases__filter-btn--active">
        All
      </button>
      {% for team in teams %}
      <button class="databases__filter-btn">{{ team.name }}</button>
      {% endfor %}
    </div>
    <hr class="databases__separator" />
    <div class="databases__search">
      <input type="text" class="databases__search-input" placeholder="검색" />
    </div>
  </div>
  <style>
    table {
      border-collapse: collapse;
      width: 50%; /* 테이블 너비를 설정합니다 */
      margin: 0 auto; /* 페이지 중앙 정렬 */
    }
    th,
    td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
    }
  </style>

  <table class="databases__table">
    <thead>
      <tr>
        <th>DB Name</th>
        <th>Table Name</th>
        <th>Column Count</th>
        <th>Column Name</th>
        <!-- <th>최초 데이터 Timestamp</th>
        <th>마지막 데이터 Timestamp</th>
        <th>Tag</th> -->
      </tr>
    </thead>
    <tbody>
      {% for db, table, col, col_name in databases %}
      <tr>
        <td>{{ db.database_name }}</td>
        <td>{{ table.table_name }}</td>
        <td>{{col}}</td>
        <td>{{col_name}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  function showTable() {
    const table = document.getElementById("hiddenTable");
    table.style.display = "table"; // 테이블을 표시합니다.
  }
</script>

{% endblock %}
