{% extends "base.html" %}
{% block title %}Issue feed - DataSquare{% endblock %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', path='/js/feed.js') }}"></script>

<div class="feed">
    <div class="feed__left-column">
        <div class="feed__search">
            <input type="text" id="search_input" class="form-input feed__search-input" placeholder="Search">
            <button class="btn feed__control-btn" onclick="search()">Search</button>
        </div>
        <div class="feed__recent-searches" id="feed__recent-searches">
            <ul id="recent-searches">
                <!-- Recent searches will be populated here -->
            </ul>
        </div>
        <div class="feed__keywords">
            <h3 class="feed__keywords-title">Keywords</h3>
            {% for keyword in keywords %}
            <a href="{{ url_for('feed', keyword=keyword) }}" class="feed__keyword-link">{{ keyword }}</a>
            {% endfor %}
        </div>
        <div class="feed__teams">
            <h3 class="feed__teams-title">Teams</h3>
            {% for team in teams %}
            <li>
                <a href="/feed/search?team={{ team.team_name }}">{{ team.team_name }}</a>
            </li>
            {% endfor %}
        </div>
    </div>
    <div class="feed__right-column">
        <div class="feed__controls">
            <a href="javascript:void(0);" class="feed__control-text" onclick="filterMyIssues()">My Issues</a>
            <button class="btn feed__control-btn" onclick="sortIssues('newest')">Newest</button>
            <button class="btn feed__control-btn" onclick="sortIssues('oldest')">Oldest</button>
        </div>
        <div class="feed__issues">
            {% for issue in issues %}
            <a href="/issue/view?issue_id={{ issue.id }}">
                <div class="feed__issue-card">
                    <img src="data:image;base64,{{ issue.profile_pic | safe }}" alt="{{ issue.author_name }}"
                        class="feed__issue-profile-pic">
                    <div class="feed__issue-content">
                        <h3 class="feed__issue-title">{{ issue.title }}</h3>
                        <p class="feed__issue-description">{{ issue.content }}</p>
                        <div class="feed__issue-meta">
                            <span class="feed__issue-author">{{ issue.author_name }}</span>
                            <span class="feed__issue-team">{{ issue.team }}</span>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

</div>
</div>
</div>

{% endblock %}