{% extends "base.html" %}
{% block title %}데이터 요청 - DataSquare{% endblock %}
{% block content %}

<div class="issue-view">
    <h1 class="issue-view__title">데이터 조회</h1>
    <div class="issue-view__content">
        <div class="issue-view__main-section">
            <div class="issue-view__data-requirements">
                <h2 class="issue-view__section-title">요청사항</h2>
                <div class="issue-view__field">
                    <label class="issue-view__label">제목</label>
                    <div class="issue-view__value">{{ issue.title }}</div>
                </div>
                <div class="issue-view__field">
                    <label class="issue-view__label">요청 사항</label>
                    <div class="issue-view__value">{{ issue.content }}</div>
                </div>
                <div class="issue-view__field">
                    <label class="issue-view__label">데이터 활용 목적</label>
                    <div class="issue-view__value">{{ issue.purpose }}</div>
                </div>
                <div class="issue-view__field">
                    <label class="issue-view__label">제공 데이터 형식</label>
                    <div class="issue-view__value">{{ issue.data_format }}</div>
                </div>
                <div class="issue-view__field">
                    <label class="issue-view__label">요청 데이터 기간 범위</label>
                    <div class="issue-view__value">{{ issue.start_date }} - {{ issue.end_date }}</div>
                </div>
                {% if issue.publisher == current_user.profile_id %}
                <form action="/issue/modified" method="get">
                    <input type="hidden" name="issue_id" value="{{ issue.issue_id }}">
                    <button class="btn btn--primary issue-view__submit-comment" type="submit">요청 수정</button>
                </form>
                <form action="/issue/deleted" method="post">
                    <input type="hidden" name="issue_id" value="{{ issue.issue_id }}">
                    <button class="btn btn--primary issue-delete-button" type="submit">요청 삭제</button>
                </form>
                {% endif %}
            </div>
            <hr>
            <div class="issue-view__comments">
                <h2 class="issue-view__section-title">댓글</h2>
                <ul id="comment-list">
                    {% for comment in comments %}
                    <li id="comment-{{ comment.comment_id }}">
                        <span class="comment-publisher">{{ comment.publisher }}</span>
                        <br>
                        <span class="comment-text">{{ comment.content }}</span>
                        {% if comment.publisher == current_user.profile_id %}
                        <button onclick="editComment({{ comment.comment_id }})">Edit</button>
                        <button onclick="deleteComment({{ comment.comment_id }})">Delete</button>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="write-comment">
                <br>
                <form action="/issue_comment/create" method="post">
                    <input type="hidden" name="issue_id" value="{{ issue.issue_id }}">
                    <textarea name="comment" required></textarea>
                    <button class="btn btn--primary issue-view__submit-comment" type="submit">댓글 등록</button>
                </form>
            </div>

        </div>
        <div class="issue-view__sidebar">
            <h2 class="issue-view__sidebar-title">담당 부서 및 공개범위</h2>
            <div class="issue-view__department-select">
                <label for="department" class="form-label">제공 부서</label>
                <select id="department" name="department" class="form-select">
                    {% for dept in departments %}
                    <option value="{{ dept.id }}" {% if dept.id==issue.department_id %}selected{% endif %}>{{ dept.name
                        }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <!-- <script src="{{ url_for('static', path='js/issue_delete.js') }}"></script> -->
    <script src="{{ url_for('static', path='js/issue_comment_edit.js') }}"></script>
</div>

{% endblock %}