{% extends "base.html" %}
{% block title %}데이터 요청 - DataSquare{% endblock %}
{% block content %}


<main class="page-content">
    <h1 class="secondary-headline">Data Modified</h1>
    <div class="contents">
        <form action="/issue/modified" method="post">
            <div>
                <h4>requirement</h4>
                <div>
                    title <br>
                    <input id="issue_publish_title" name="title" value="{{ issue.title }}" required></input>
                    <br>
                    content
                    <br>
                    <textarea name="content" required> {{ issue.content }}</textarea>
                    <br>
                    requested_team
                    <div class="field">
                        <select id="issue_publish_requested_team" name="requested_team" value="" required>
                            <!-- {{ issue.requested_team }} -->
                            <option value="">--select_team--</option>
                            {% for department in departments %}
                            {% if department == issue.requested_team %}
                            <option value="{{ department }}" selected>{{ department }}</option>
                            {% else %}
                            <option value="{{ department }}">{{ department }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% if issue.is_private == 0 %}
                    <label>
                        <input type="radio" name="is_private" value="1">
                        PRIVATE
                    </label>
                    <br>
                    <label>
                        <input type="radio" name="is_private" value="0" checked>
                        PUBLIC
                    </label>
                    {% else %}
                    <label>
                        <input type="radio" name="is_private" value="1" checked>
                        PRIVATE
                    </label>
                    <br>
                    <label>
                        <input type="radio" name="is_private" value="0">
                        PUBLIC
                    </label>
                    {% endif %}

                </div>
                <button type="button" class="btn btn--primary issue-view__submit-comment" onclick="cancelPublish()">
                    CANCEL
                </button>
                <input type="hidden" name="issue_id" value="{{ issue.issue_id }}">
                <button class="btn btn--primary issue-view__submit-button" type="submit" class="issue_publish_button"
                    onclick>
                    Modified
                </button>
            </div>
            <br>
            <hr>
        </form>
        <section class="right-section">
            <div>
                <h4>추가할 것</h4>
                <span>제공부 자동 완성 데이터 오브젝트</span>
            </div>

        </section>
    </div>
</main>
</div>
<script>
    function cancelPublish() {
        alert('이슈 수정을 취소하였습니다.');
        // 여기에 추가적인 취소 로직 구현 (예: 페이지 이동)
        window.location.href = '/issue/view?issue_id={issue.issue_id}';

    }
</script>
{% endblock %}