{% extends "base.html" %}
{% block title %}데이터 요청 - DataSquare{% endblock %}
{% block content %}


<main class="page-content">
    <h1 class="secondary-headline">Data Publish</h1>
    <div class="contents">
        <form action="/issue/publish" method="post">
            <div>
                <h4>requirement</h4>
                <div>
                    title <br>
                    <input id="issue_publish_title" name="title" placeholder="title" required></input>
                    <br>
                    content
                    <br>
                    <textarea id="issue_publish_content" name="content" placeholder="content" required></textarea>
                    <br>
                    requested_team
                    <br>
                    <input id="issue_publish_requested_team" name="requested_team" placeholder="requested_team"
                        required></input>
                    <br>
                    <label>
                        <input type="radio" name="is_private" value="1">
                        PRIVATE
                    </label>
                    <br>
                    <label>
                        <input type="radio" name="is_private" value="0" checked>
                        PUBLIC
                    </label>
                </div>
                <button type="button" class="btn btn--primary issue-view__submit-comment" onclick="cancelPublish()">
                    CANCEL
                </button>
                <button class="btn btn--primary issue-view__submit-comment" type="submit" class="issue_publish_button"
                    onclick>
                    PUBLISH
                </button>

            </div>
            <br>
            <hr>
        </form>

        <!-- <form action="/issue/feed" method="post">
                <div>
                    <button type="submit" class="issue_publish_cancle_button" onclick="alert('이슈 발행을 취소 하였습니다.')">
                        CANCLE
                    </button>
                </div>
            </form> -->
        <section class="right-section">
            <div>
                <h4>추가할 것</h4>
                <span>제공부 자동 완성 데이터 오브젝트</span>
            </div>

        </section>
    </div>
</main>
</div>
<script>
    function cancelPublish() {
        alert('이슈 발행을 취소하였습니다.');
        // 여기에 추가적인 취소 로직 구현 (예: 페이지 이동)
        window.location.href = '/feed';
    }
</script>
{% endblock %}