{% extends "base.html" %}
{% block title %}로그인 - DataSquare{% endblock %}
{% block content %}

<div class="wrapper">
    <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <h3>Profile</h3>
        </div>
        <ul class="sidebar-nav" id="sidebar-nav">
        </ul>
    </div>
    <script src="{{ url_for('static', path='/js/sidebar.js') }}"></script>
    <div class="content">
        <h3 class="form-label">Image</h3>
        <img src="data:image/png;base64,{{ image }}" alt="Profile Image" width="200" >
        <br>
        <h3 class="form-label">Name</h3>
        <p>{{name}}</p>
        <br>
        <h3 class="form-label">Email</h3>
        <p>{{email}}</p>
        <br>
        <h3 class="form-label">Phone</h3>
        <p>{{phone}}</p>
        <br>
        <h3 class="form-label">Department</h3>
        <p>{{department}}</p>
        <br>
        
    </div>
</div>





{% endblock %}