{% extends "admin_base.html" %}
{% set hide_header = false %}
{% set hide_footer = false %}
{% block title %}Team Settings - DataSquare{% endblock %}
{% block content %}
<dialog id="DuplicatedTeamNameDialog">
    <h2 class="duplicated_team_name__title">Error</h2>
    <div class="duplicated_team_name__content">
        <p>Duplicate team names detected.<br>Please ensure all team names are unique.</p>
        <button onclick="closeDialog('DuplicatedTeamNameDialog')">OK</button>
</dialog>
<div class="team-setting">
    <h1 class="team-setting__title">Team Setting</h1>

    <div class="team-setting__content">
        <nav class="team-setting__nav">
            <a href="{{ url_for('team_settings') }}" class="team-setting__nav-item">Team</a>
        </nav>
        <div class="team-setting__main">
            <form action="/admin/teams/set" method="post">


                <button type="button" onclick="addRow()">Add row</button>
                <button type="submit">Confirm</button>
                <table>
                    <thead>
                        <tr>
                            <th>Team Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="team-table-body">
                        <tr>
                            <td><input type="text" name="team_names"></td>
                            <td>
                                <button type="button" onclick="removeRow(this)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/js/team_create.js"></script>
{% endblock %}