.wrapper {
    display: flex;
    background-color: #f8f9fa;
    min-height: calc(100vh - 1000px);
    margin-top: 100px;
}

.sidebar {
    width: 110px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.sidebar-header h3 {
    color: #333;
    margin-bottom: 20px;
}

.sidebar-nav {
    list-style-type: none;
    padding: 1;
}

.sidebar-nav li a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sidebar-nav li a:hover {
    background-color: #f0f0f0;
}

.content {
    flex: 1;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 8px;
}

.form-label {
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

#profileThumb {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    color: #666;
    margin-bottom: 15px;
}

#editButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#editButton:hover {
    background-color: #0056b3;
}