:root {
    --primary-color: #0F62FE;
    --secondary-color: #697077;
    --background-color: #c4c1c1;
    --text-color: #161616;
    --border-color: #DDE1E6;

    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;

    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;

    --border-radius: 0.25rem;
}