<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Feed</title>
    <link rel="stylesheet" href="../static/css/iss_feed.css">
</head>

<body>
    <div class="content-container">
        <header class="header">
            <div class="header-logo">
                <div class="logo-container">
                    <img src="../static/img/datasquare_logo.svg" alt="Logo" class="datasquare-logo">
                </div>
                <div class="text">
                    <span class="service-name">DataSquare</span>
                    <span class="company-name">for {Company name}</span>
                </div>
            </div>
            <nav class="menu">
                <div class="menu-item">
                    <span class="menu-item-1">Data Request</span>
                </div>
                <div class="menu-item">
                    <span class="menu-item-2">Databases</span>
                </div>
            </nav>
            <div class="buttons-group">
                <div class="notifications">
                    <div class="notification-icon">
                        <img src="../static/img/noti.svg" alt="Notifications" class="bell-icon">
                    </div>
                    <div class="notification-badge">
                        <span class="unread-noti">9</span>
                    </div>
                </div>
                <div class="settings">
                    <img src="../static/img/cog.svg" alt="Settings" class="settings-icon">
                </div>
                <div class="user-thumb">
                    <img src="../static/img/user_thumb.svg" alt="User" class="user-thumb-img">
                </div>
                <div class="signout">
                    <img src="../static/img/signout.svg" alt="Sign out" class="signout-icon">
                </div>
            </div>
        </header>
        <main class="page-content">
            <h1 class="secondary-headline">Issue Feed</h1>
            <div class="contents">
                <aside class="left-section">
                    <div class="seach">
                        <div class="field">
                            <div class="container">
                                <div class="issue-search-icon">
                                    <img src="../static/img/search.svg" alt="Search" class="search-icon">
                                </div>
                                <span class="searchbox">Search</span>
                            </div>
                            <div class="recent-search">
                                <img src="../static/img/combobox.svg" class="recent-search-icon">
                            </div>
                        </div>
                    </div>
                    <div class="tags-section">
                        <h2 class="tags-title">Keywords</h2>
                        <div class="tags-container">
                            <!-- Repeat for each keyword -->
                            <div class="keyword-badge">
                                <span class="tag">Customer</span>
                            </div>
                            <!-- ... -->
                        </div>
                    </div>
                    <div class="teams-section">
                        <h2 class="teams-title">Teams</h2>
                        <div class="teams-container">
                            <!-- Repeat for each team -->
                            <div class="team">
                                <div class="badge-dot">
                                    <div class="dot"></div>
                                </div>
                                <span class="team">HR team</span>
                            </div>
                            <!-- ... -->
                        </div>
                    </div>
                </aside>
                <section class="issue-cards-section">
                    <div class="feed-controllers-container">
                        <div class="issue-feed-info">
                            <div class="info-icon">
                                <img src="../static/img/info.svg" alt="Info" class="icon-1">
                            </div>
                            <div class="info-string">
                                <span class="info">Issues are sorted based on what you might be interested
                                    in.</span>
                            </div>
                        </div>
                        <div class="feed-control-panel">
                            <div class="feed-control-buttons">
                                <div class="button-label">
                                    <span class="label">My Issues</span>
                                </div>
                                <div class="button-label">
                                    <span class="label">Newset</span>
                                </div>
                                <div class="button-label">
                                    <span class="label">Oldest</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Repeat for each issue -->
                    <div class="issue-cards-container">
                        <div class="issue-card">
                            <div class="issue-card-title">
                                <span class="issue-title">{Issue title}</span>
                            </div>
                            <div class="issue-card-details">
                                <div class="user-thumb">
                                    <img src="../static/img/user_thumb.svg" alt="publisher_id" class="publisher">
                                </div>
                                <div class="details">
                                    <span class="issue-description">Description</span>
                                    <span class="issue-team">member/team</span>
                                </div>
                            </div>
                        </div>
                        <!-- ... -->
                    </div>
                    <!-- ... -->
                </section>
            </div>
        </main>
        <footer class="footer">
            <div class="footer-logo">
                <div class="logo-container">
                    <img src="../static/img/datasquare_logo.svg" alt="Datasquare" class="datasquare-logo">
                </div>
                <div class="footer-string">
                    <span class="service-name">DataSquare</span>
                    <span class="company-name">for 회사명</span>
                </div>
            </div>
            <div class="copyright">
                CompanyName @ 202X. All rights reserved.
            </div>
        </footer>
    </div>
</body>

</html>