<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DataSquare{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    {% if not hide_header %}
    {% include 'pages/header.html' %}
    {% endif %}

    <div class="layout__main" role="main">
        {% block content %}{% endblock %}
    </div>

    {% if not hide_footer %}
    {% include 'pages/footer.html' %}
    {% endif %}

    <script src="{{ url_for('static', path='js/main.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>