<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widt initial-scale=1.0">
    <title>Issue Publish - DataSquare</title>
    <link rel="stylesheet" href="/static/css/issue_publish.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <div class="icon-container">

                </div>
                <div class="text">
                    <span class="webby-frames">DataSquare</span>
                    <span class="for-figma">for {Company name}</span>
                </div>
            </div>
            <nav class="menu">
                <div class="menu-item"><span>Data Request</span></div>
                <div class="menu-item"><span>Databases</span></div>
            </nav>
            <div class="buttons-group">
                <div class="button-3">
                    <div class="icon-jam-icons-outline-logos-bell">

                    </div>
                    <div class="badge-10">
                        <span class="text-2">9</span>
                    </div>
                </div>
                <div class="button-2">

                </div>
                <div class="user-thumb">

                </div>
                <div class="log-out">

                </div>
            </div>
        </header>

        <main class="page-content">
            <h1 class="secondary-headline">Data Publish</h1>
            <div class="contents">
                <form action="/issue/publish" method="post">
                    <div>
                        <h4>requirement</h4>
                        <div>
                            title <br>
                            <input id="issue_publish_title" name="title" placeholder="title" required></input>
                            <br>
                            content
                            <br>
                            <textarea id="issue_publish_content" name="content" placeholder="content"
                                required></textarea>
                            <div class="label">Requested Team</div>
                            <div class="field">
                                <select id="issue_publish_requested_team" name="requested_team">
                                    <option value="">--select_team--</option>
                                    {% for department in departments %}
                                    <option value="{{ department }}">{{ department }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label>
                                <input type="radio" name="is_private" value="1">
                                PRIVATE
                            </label>
                            <br>
                            <label>
                                <input type="radio" name="is_private" value="0" checked>
                                PUBLIC
                            </label>
                        </div>
                        <button type="button" class="issue_publish_cancel_button" onclick="cancelPublish()">
                            CANCEL
                        </button>
                        <button type="submit" class="issue_publish_button" onclick>
                            PUBLISH
                        </button>

                    </div>
                    <br>
                    <hr>
                </form>
                <section class="right-section">
                    <div>
                        <h4>추가할 것</h4>
                        <span>제공부서 자동 완성 데이터 오브젝트</span>
                    </div>

                </section>
            </div>
        </main>
    </div>
    <script>
        function cancelPublish() {
            alert('이슈 발행을 취소하였습니다.');
            // 여기에 추가적인 취소 로직 구현 (예: 페이지 이동)
            window.location.href = '/feed';
        }
    </script>
</body>

</html>